@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    /*padding이나 border size가 width나 height에 포함되도록 해준다.*/
}

ul{
    padding: 0;
    /*ul tag의 padding 기본값을 없애준다.*/
}

button{
    outline: none;
    background: transparent;
    /*ikcon의 배경색상을 없대준다.*/
    border: none;
    cursor: pointer;

}

body{
    background-color: rgb(102, 51 , 153);
    text-align: center;
}

.list{
    width: 375px;
    margin: auto;
    /*section이 block level 이라서 margin이
    오른쪽에만 들어가 있는 것을 auto로 바꿔준다. => margin이 양 옆으로 고르게 분포된다.*/
    background-color: white;
    border-radius: 20px;
}

.header{
    height: 48px;
    padding: 8px;
    font-size: 24px;
    background: blueviolet;
    color: white;
    font-family: 'Cafe24ClassicType-Regular';
    border-radius: 20px 20px 0 0;

}

.items{
    height: 500px;
    overflow-y: auto;
    /*shopping list가 늘어나면 자동으로 스크롤바가 생긴다.*/
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}

.item__delete{
    font-size: 16px;
    transition: all 300ms ease-in;
    
}

.item__delete:hover{
    color: blueviolet;
    transform: scale(1.1);
    /*마우스 커서가 올라가면 아이콘이 커진다.*/
}

.item__divider{
    width: 90%;
    margin: auto;
    border: 1px solid rgb(102, 51 , 153);
}

.footer{
    background: rgb(237,189,255);
    color: blueviolet;
    border-radius: 0 0 20px 20px;
}

.footer__input{
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0 16px;
    background-color: rgb(221, 179, 241);
}

.footer__button{
    width: 48px;
    height: 48px;
    font-size: 28px;
    background-color: blueviolet;
    border-radius: 50%;
    color: white;
    transition: transform 300ms ease-in;
}

.footer__button:hover{
    transform: scale(1.1);
}